body {
  background-color: #cdb4ee;
}

.results-interface {
  background-color: #cdb4ee;
}

.search-interface {
  background-color: #cdb4ee !important;
}

.favs-interface {
  background-color: #cdb4ee;
}

.delete-btn {
  width: 90px;
  color: rgb(255, 32, 32) !important;
  background-color: rgb(68, 63, 63) !important;
}

.more-info-btn {
  width: 130px;
  color: rgb(104, 104, 255) !important;
  background-color: beige !important;
}

.search-btn {
  width: 100px;
  color: rgb(80, 53, 116) !important;
}

.search-all-btn {
  width: 160px;
  color: rgb(61, 155, 199) !important;
}

.card-header {
  color: rgb(4, 160, 250);
  border: 2px outset black;
}

md-card {
  background-color: rgb(71, 71, 71);
  color: white;
}

label {
  color: white;
}