body {
  background-color: teal;
}

.results-interface {
  background-color: teal;
}

.search-interface {
  background-color: teal !important;
}

.favs-interface {
  background-color: teal;
}

.delete-btn {
  width: 90px;
  color: rgb(255, 32, 32) !important;
  background-color: rgb(68, 63, 63) !important;
}

.more-info-btn {
  width: 130px;
  color: rgb(104, 104, 255) !important;
  background-color: beige !important;
}

.search-btn {
  width: 100px;
  color: rgb(242, 104, 255) !important;
  background-color: rgb(255, 255, 151) !important;
}

.search-all-btn {
  width: 140px;
  color: rgb(104, 207, 255) !important;
  background-color: rgb(255, 255, 36) !important;
}

.card-header {
  color: rgb(0, 255, 106);
  text-shadow: 1px 1px rgb(255, 10, 255);
  border: 2px outset black;
  box-shadow: 1px 1px rgb(19, 243, 57);
}

md-card {
  background-color: rgb(71, 71, 71)
}

.search-result {
  color: white;
}