<p>This is where the favorites will be</p>

<h1>Favorites</h1>

<md-card ng-repeat="fav in fc.returned.FAVSdata">
    <h3> {{fav.name}} </h3>
    <md-button class="md-primary md-raised" ng-click="fc.getItemByURL(fav.url)">Get More Info</md-button>
    <div ng-repeat="deets in fc.returned.favDeets" ng-if="deets.url === fav.url">
        
        <!-- Card content for PEOPLE DETAILS -->
        <md-card-content ng-if="deets.url.includes('people')">
            <ul flex>
                <li>Birth year: {{deets.birth_year}}</li>
                <li>Homeworld: {{deets.homeworld}}</li>
            </ul>
            <img ng-src="{{deets.gif}}" alt="Gif">
        </md-card-content>

        <!-- Card content for FILMS DETAILS -->
        <md-card-content ng-if="deets.url.includes('films')">
            <ul flex>
                <li>Birth year: {{deets.title}}</li>
                <li>Homeworld: {{deets.homeworld}}</li>
            </ul>
            <img ng-src="{{deets.gif}}" alt="Gif">
        </md-card-content>

        <!-- Card content for PLANETS DETAILS -->
        <md-card-content ng-if="deets.url.includes('planets')">
            <div layout="column">
                <h3 layout-padding>{{deets.name}}</h3>
                <ul flex>
                    <li>Climate: {{deets.climate}}</li>
                    <li>Diameter: {{deets.diameter}}</li>
                    <li>Gravity: {{deets.gravity}}</li>
                    <li>Orbital period: {{deets.orbital_period}}</li>
                    <li>Surface water: {{deets.surface_water}} </li>
                    <li>Terrain: {{deets.terrain}}</li>
                </ul>
            </div>
            <img ng-src="{{deets.gif}}" alt="Gif">
        </md-card-content>

        <!-- Card content for SPECIES DETAILS -->
        <md-card-content ng-if="deets.url.includes('species')">
            <ul flex>
                <li>Birth year: {{deets.title}}</li>
                <li>Homeworld: {{deets.homeworld}}</li>
            </ul>
            <img ng-src="{{deets.gif}}" alt="Gif">
        </md-card-content>

        <!-- Card content for STARSHIPS DETAILS -->
        <md-card-content ng-if="deets.url.includes('starships')">
            <ul flex>
                <li>Birth year: {{deets.title}}</li>
                <li>Homeworld: {{deets.homeworld}}</li>
            </ul>
            <img ng-src="{{deets.gif}}" alt="Gif">
        </md-card-content>





    
    </div>
    <md-button class="md-accent md-raised" ng-click="fc.deleteFav(fav)">Delete</md-button>
</md-card>


