<div layout="row">
  
    <section class="search-interface">
        <h3>Search SWAPI</h3>
        <md-input-container>
            <md-select ng-model="whichResource" ng-change="search.searchField(whichResource)">
                <md-option ng-value="resource" ng-repeat="resource in search.resources.list">{{resource}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <input type="text" placeholder="{{search.searchBarPlaceholder}}" ng-model="seachQuery">
        </md-input-container>
       
        <label for="wookieeYes">Format my results in Wookiee</label>
        <input class="md-primary" type="checkbox" ng-model="search.wookieeCheckBox.value1"  name="wookieeYess">
        <md-button class="md-raised md-accent" md-no-ink="true" ng-click="search.searchSWAPI(whichResource, seachQuery, search.wookieeCheckBox.value1)">Search</md-button>
        <md-button class="md-raised md-primary" md-no-ink="true" ng-click="search.getAll(whichResource)">Get all {{whichResource}}</-mdbutton>
    </section>
</div>

<div>
    <section class="results-interface">
        <p>this is where the results will go</p>

        <ul>
            <li ng-repeat="result in search.returned.data.results">{{result.name || result.title}}</li>
        </ul>

    </section>
</div>



  
</md-input-container>


