<div layout="row">
  
    <h1 layout-padding>Search</h1>
    <section >
        <md-content class="search-interface" layout-padding>
            
            <md-input-container>
                <label for="resource-selector">Select which resource you want to search for</label>
                <md-select id="resource-selector" ng-model="whichResource" ng-change="sc.searchField(whichResource)">
                    <md-option ng-value="resource" ng-repeat="resource in sc.resources.list">{{resource}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <input type="text" placeholder="{{search.searchBarPlaceholder}}" ng-model="seachQuery">
            </md-input-container>
        
            <label for="wookieeYes">Format my results in Wookiee</label>
            <input class="md-primary" type="checkbox" ng-model="sc.wookieeCheckBox.value1"  name="wookieeYess">
            <md-button class="md-raised md-accent search-btn" md-no-ink="true" ng-click="sc.searchSWAPI(whichResource, seachQuery, sc.wookieeCheckBox.value1)">Search</md-button>
            <md-button class="md-raised md-primary search-all-btn" md-no-ink="true" ng-click="sc.getAll(whichResource)">Get all {{whichResource}}</-mdbutton>
        </md-content>
    </section>
</div>

<div>
    <section class="results-interface">
        <!-- Films Cards -->
        <md-card class="search-result" ng-show="result.url.includes('films')" ng-repeat="result in sc.returned.SWAPIdata.results | orderBy: 'episode_id'">
            <div layout="column">
                <h3 layout-padding >Episode {{result.episode_id}}: {{result.title}} </h3>
                
                <ul flex>
                    <li><strong>Release date:</strong> {{result.release_date}}</li>
                    <li><strong>Director:</strong> {{result.director}}</li>
                    <li><strong>Producer(s):</strong> {{result.producer}}</li>
                </ul>
                
            </div>
                <md-card-content layout="column">
                    <div flex="30">
                        <h3>Opening Crawl</h3>
                        <p>{{result.opening_crawl}}</p>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button class="md-primary md-raised" ng-click="sc.addFav(result)">Favorite</md-button>
                </md-card-actions>
        </md-card>


        <!-- People Cards -->
        <md-card class="search-result" ng-show="result.url.includes('people')" ng-repeat="result in sc.returned.SWAPIdata.results">
            <div layout="column">
                <h3 layout-padding>{{result.name}}</h3>
                
                <ul>
                    <li><strong>Birth year:</strong> {{result.birth_year}}</li>
                    <li><strong>Eye color:</strong> {{result.eye_color}}</li>
                </ul>
           
                <md-card-actions layout="row" layout-align="start center">
                    <md-button class="md-primary md-raised" ng-click="sc.addFav(result)">Favorite</md-button>
                </md-card-actions>
            </div>
        </md-card>


        <!-- Planets Cards -->
        <md-card class="search-result" ng-show="result.url.includes('planets')" ng-repeat="result in sc.returned.SWAPIdata.results">
            <div layout="column">
                <h3 layout-padding>{{result.name}}</h3>
               <ul flex>
                    <li><strong>Climate:</strong> {{result.climate}}</li>
                    <li><strong>Diameter:</strong> {{result.diameter}}</li>
                    <li><strong>Gravity:</strong> {{result.gravity}}</li>
                    <li><strong>Orbital period:</strong> {{result.orbital_period}}</li>
                    <li><strong>Surface water:</strong> {{result.surface_water}} </li>
                    <li><strong>Terrain:</strong> {{result.terrain}}</li>
                </ul>
            </div>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button class="md-primary md-raised" ng-click="sc.addFav(result)">Favorite</md-button>
                </md-card-actions>
        </md-card>


        <!-- Species Cards -->
        <md-card class="search-result" ng-show="result.url.includes('species')" ng-repeat="result in sc.returned.SWAPIdata.results">
            <h4>{{result.name}}</h4>

             <ul flex>
                <li><strong>Average height:</strong> {{result.average_height}}</li>
                <li><strong>Average lifespan:</strong> {{result.average_lifespan}}</li>
                <li><strong>Language:</strong> {{result.language}}</li>
            </ul>

            <md-card-actions layout="row" layout-align="start center">
                <md-button class="md-primary md-raised" ng-click="sc.addFav(result)">Favorite</md-button>
            </md-card-actions>
        </md-card>


        <!-- Starships Cards -->
        <md-card class="search-result" ng-show="result.url.includes('api/starships')" ng-repeat="result in sc.returned.SWAPIdata.results">
            <h4>{{result.name}}</h4>

                <li><strong>MGLT:</strong> {{result.MGLT}}</li>
                <li><strong>Cargo capacity:</strong> {{result.cargo_capacity}}</li>
                <li><strong>Consumables:</strong> {{result.consumables}}</li>
                <li><strong>Cost in credits:</strong> {{result.cost_in_credits}}</li>
                <li><strong>Crew:</strong> {{result.crew}}</li>
                <li><strong>Hyperdrive rating:</strong> {{result.hyperdrive_rating}}</li>
                <li><strong>Length:</strong> {{result.length}}</li>
                <li><strong>Manufacturer:</strong> {{result.manufacturer}}</li>
                <li><strong>Model:</strong> {{result.model}}</li>
                <li><strong>Passengers:</strong> {{result.passengers}}</li>
                <li><strong>Starship class:</strong> {{result.starship_class}}</li>

            <md-card-actions layout="row" layout-align="start center">
                <md-button class="md-primary md-raised" ng-click="sc.addFav(result)">Favorite</md-button>
            </md-card-actions>
        </md-card>


        <!-- Vehicles Cards -->
        <md-card class="search-result" ng-show="result.url.includes('api/vehicles')" ng-repeat="result in sc.returned.SWAPIdata.results">
       
            <h4>{{result.name}}</h4>
            <ul flex>
              <li><strong>MGLT:</strong> {{deets.MGLT}}</li>
                <li><strong>Cargo capacity:</strong> {{result.cargo_capacity}}</li>
                <li><strong>Consumables:</strong> {{result.consumables}}</li>
                <li><strong>Cost in credits:</strong> {{result.cost_in_credits}}</li>
                <li><strong>Crew:</strong> {{result.crew}}</li>
                <li><strong>Hyperdrive rating:</strong> {{result.hyperdrive_rating}}</li>
                <li><strong>Length:</strong> {{result.length}}</li>
                <li><strong>Manufacturer:</strong> {{result.manufacturer}}</li>
                <li><strong>Model:</strong> {{result.model}}</li>
                <li><strong>Passengers:</strong> {{result.passengers}}</li>
            </ul>

            <md-card-actions layout="row" layout-align="start center">
                <md-button class="md-primary md-raised" ng-click="sc.addFav(result)">Favorite</md-button>
            </md-card-actions>
        </md-card>

    </section>

    <md-button ng-if="sc.returned.SWAPIdata.previous" class="md-raised" ng-click="sc.getPrevPage(sc.returned.SWAPIdata.prev)">Prev</md-button>
    <md-button ng-if="sc.returned.SWAPIdata.next" class="md-raised" ng-click="sc.getNextPage(sc.returned.SWAPIdata.next)">Next</md-button>
  
</div>





