<div >
    <section class="search-interface">
        <h3>Search SWAPI</h3>
        <select ng-model="whichResource" ng-change="search.searchField(whichResource)">
            <option ng-repeat="resource in search.resources.list">{{resource}}</option>
        </select>
        <input type="text" placeholder="{{search.searchBarPlaceholder}}" ng-model="seachQuery">
        <label for="wookieeYes">Format my results in Wookiee</label>
        <input type="checkbox" ng-model="search.wookieeCheckBox.value1"  name="wookieeYess">
        <button class="btn btn-primary" ng-click="search.searchSWAPI(whichResource, seachQuery, search.wookieeCheckBox.value1)">Search</button>
        <button class="btn btn-secondary" ng-click="search.getAll(whichResource)">Get all {{whichResource}}</button>
    </section>
</div>

<div>
    <section class="results-interface">
        <p>this is where the results will go</p>

        <ul>
            <li ng-repeat="result in search.returned.data.results">{{result.name || result.title}}</li>
        </ul>

    </section>
</div>



